<section class="myWork">
    <div class="title">
        <h1>MY WORKS</h1>
    </div>
    <div class="containerWork">
        <nav class="navWork">
            <a href="" style="text-decoration: none;">
                <div class="item">retrogems</div>
                <div class="item">recrutements.com</div>
                <div class="item">subvention.com</div>
            </a>
        </nav>
        <div class="imageWork">
            <div class="image">
                <div>
                    <img src="/assets/img/marveldisney.jpg" alt="" >
                </div>
            </div>
        </div>
    </div>
</section>