.presentaionAurelien {
    padding-top: 17em;

    .hello {
        text-align: center;
        font-size: 4em;
    }

    .myRole{
        margin: 2.5em 35em 1.5em 35em;
        text-align: center;
    }
}