<section>
    <div class="presentaionAurelien">
        <div class="hello">
            <h1>Hey there</h1>
            <h1>I m Aurelien DESHAYES</h1>
        </div>
        <div class="myRole">
            <div class="myRoleParagraph" style="padding-bottom: 3em; text-align: justify">
                <p>I’M A FREELANCE MAKE-UP ARTIST BASED IN PARIS WORKING FOR FASHION AND BEAUTY BRANDS</p>
            </div>
            <a href="mailto:deshyesguy2@gmail.com" style="font-size: 25px;"> deshyesguy2"&#64;"gmail.com</a>
        </div>
    </div>
</section>