<div class="marvel-container">
    <div class="marvel-logo">Marvel</div>
    <div class="background-animation">
      <!-- Add your background images and animations here -->
      <div class="image" style="background-image: url('/assets/26944754457_8798a32d51_b.jpg');"></div>
    <div class="image" style="background-image: url('/assets/images.jpeg');"></div>
    <div class="image" style="background-image: url('/assets/marveldisney.jpg');"></div>
    <div class="image" style="background-image: url('/assets/sddefault.jpg');"></div>
    </div>
</div>
  