.container{
  margin: 1px 4em 1px 4em;
  .navigation {
    justify-content: space-between;
    align-items: center;
    padding-top: 3.13em;
    display: flex;


  .nav-list {
    grid-column-gap: 2.19em;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    
    a{
      text-decoration: none;
      color: var(--dark-blue);
      font-size: 25px;
      font-weight: 200;
    }

  }
}
}