<main>
    <div class="introduction">
        <div class="introContainer">
            <div class="imageLogo">
                <img src="/assets/img/logo.png" alt="logo">
            </div>
        </div>
        <div class="welcome" style="border-radius: 60px;">
            <div class="welcome-message">
                <span class="word">WELCOME</span>
                <span class="word">TO</span>
                <span class="word">MY</span>
                <span class="word">PORTFOLIO</span>
            </div>
        </div>
        <app-introduction></app-introduction>
    </div>

</main>