*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


main {
    background-color: blanchedalmond;
    font-family: "Times New Roman",
        Times,
        serif;
    font-size: 18px;
    color: var(--dark-blue);
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .introContainer {
        text-align: center;
    }
    .introduction {
        .imageLogo {
            padding-top: 70px;

            img {
                height: 500px;
                width: 1000px;
            }
        }
        .welcome {
            text-align: center;
        }
}}